@use "../abstracts/variables";
@use "../abstracts/functions";
@use "../abstracts/mixins";

.main-container {
  @include mixins.flex-column;
  gap: functions.px-to-rem(64px);

  // Tablet (768px :48em )
  @media (min-width: 48em) {
    gap: functions.px-to-rem(80px);
  }
}

// container-main includes: container-main__1,container-main__2,container-main__3------------------------
.container-main {
  @include mixins.flex-column;
  gap: functions.px-to-rem(64px);

  // Tablet (768px :48em )
  @media (min-width: 48em) {
    gap: functions.px-to-rem(80px);
  }
}
