@use "../abstracts/variables";
@use "../abstracts/functions";
@use "../abstracts/mixins";

.membership {
  padding: 0 functions.px-to-rem(16px);

  @include mixins.flex-column;
  gap: functions.px-to-rem(24px);

  &-title {
    @include mixins.text-preset-2--mobile;
    color: variables.$color-neutral-900;
  }

  &__option {
    padding: functions.px-to-rem(24px);
    border: 1px solid variables.$color-neutral-200;
    border-radius: 8px;

    @include mixins.flex-column;
    gap: functions.px-to-rem(32px);

    &--info {
      @include mixins.flex-column;
      gap: functions.px-to-rem(24px);

      &-title {
        @include mixins.text-preset-4;
        color: variables.$color-neutral-900;
      }

      &-price {
        @include mixins.text-preset-5;
        color: variables.$color-neutral-700;

        @include mixins.flex-row;
        align-items: center;

        & span {
          @include mixins.text-preset-3;
          color: variables.$color-neutral-900;
          padding-right: functions.px-to-rem(8px);
        }
      }

      &-list {
        list-style: none;
        @include mixins.text-preset-5;
        color: variables.$color-neutral-700;

        &--item {
          position: relative;
          padding-left: functions.px-to-rem(36px);
          padding-bottom: functions.px-to-rem(16px);

          &:last-child {
            padding-bottom: 0rem;
          }

          &::before {
            content: url(../../assets/images/icon-check.svg);
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }

    // PRO----------------------------------------
    &-pro {
      background-color: variables.$color-neutral-100;
      background-image: url(../../assets/images/pattern-glow.svg);
      background-repeat: no-repeat;
    }
  }
}

hr {
  border: none;
  height: 1px;
  background-color: variables.$color-neutral-200;
}
