@use "../abstracts/variables";
@use "../abstracts/functions";
@use "../abstracts/mixins";

.container-main__3 {
  @include mixins.flex-column;
  gap: functions.px-to-rem(40px);
  padding: 0 functions.px-to-rem(16px);

  &--texts {
    @include mixins.flex-column;
    gap: functions.px-to-rem(24px);

    &-title {
      @include mixins.text-preset-2--mobile;
      color: variables.$color-neutral-900;

      & span {
        position: relative;
        display: inline-block;

        & img {
          position: absolute;
          top: 3px;
          left: -3px;
        }
      }
    }

    &-description {
      @include mixins.text-preset-5;
      color: variables.$color-neutral-700;

      & span {
        @include mixins.text-preset-5--semibold;
      }
    }
  }

  &-img {
    border-radius: 12px;
  }
}
