@use "../abstracts/variables";
@use "../abstracts/functions";
@use "../abstracts/mixins";

.container-main__2 {
  @include mixins.flex-column;
  gap: functions.px-to-rem(40px);

  margin: 0 functions.px-to-rem(16px);
}

.container-main__2--texts-container {
  @include mixins.flex-column;
  gap: functions.px-to-rem(24px);
}
.container-main__2--texts-container--heading {
  @include mixins.text-preset-2--mobile;
  color: variables.$color-neutral-900;
}
.container-main__2--texts-container-features-list {
  list-style: none;
  @include mixins.text-preset-5;
  color: variables.$color-neutral-700;
}

.container-main__2--texts-container-features-list-item {
}

.container-main__2--texts-container-features-list-item > img {
  display: inline-block;
  margin-right: functions.px-to-rem(14px);
}

.container-main__2--img {
  border-radius: 11px;
}
