@use "../abstracts/variables";
@use "../abstracts/functions";
@use "../abstracts/mixins";

.testimonials {
  padding: 0 functions.px-to-rem(16px);
  @include mixins.flex-column;
  gap: functions.px-to-rem(32px);

  &__ratings {
    @include mixins.flex-row;
    gap: functions.px-to-rem(6px);

    &-star {
      width: functions.px-to-rem(28px);
    }
  }

  &__content {
    @include mixins.flex-column;
    gap: functions.px-to-rem(32px);

    &-comment {
      @include mixins.text-preset-3--mobile;
      color: variables.$color-neutral-900;

      &-person {
        @include mixins.text-preset-5;
        color: variables.$color-neutral-700;
      }
    }
  }
}
