@use "../abstracts/variables";
@use "../abstracts/functions";
@use "../abstracts/mixins";

body {
  background-color: variables.$color-neutral-0;

  @include mixins.flex-column;
  gap: functions.px-to-rem(64px);

  // Tablet (768px :48em )
  @media (min-width: 48em) {
    gap: functions.px-to-rem(80px);
  }

  //Extra large devices 1440px:90em
  @media (min-width: 90em) {
    gap: functions.px-to-rem(120px);
  }
}
