// COLORS----------------------
// Neutrals
$color-neutral-900: #062630;
$color-neutral-700: #385159;
$color-neutral-200: #e6e1df;
$color-neutral-100: #faf5f3;
$color-neutral-0: #ffffff;

//Light Salmon
$color-light-salmon-500: #fea36f;
$color-light-salmon-100: #ffe2d1;
$color-light-salmon-50: #fff5ef;

//FONTS--------------------------
// Font family
$font-martian-mono: "Martian Mono", Arial, sans-serif;
$font-inter: "Inter", Arial, sans-serif;
$font-fira-code: "Fira Code", Arial, sans-serif;

//Font weights-martial-mono
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
